body {
    background: rgb(246, 243, 238);
    color :black;
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
}

p {
    line-height: 1.7;
}

article +article
{
    margin-top: 3rem;
    border-top: 1px solid black;
}

.top-right-corner {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #f6dff0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
 
.top-right-corner a {
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}
 
.top-right-corner a:hover {
    color: black;
}

